/* CSS Rules for Lab 1 using Bootstrap.  Note, these rules are laid out mobile first.  
	That is, the smaller screen rules are shown first

    Note, that CSS rule will propoagte up to larger devices, unless you modify them with a 
    media query and change the rule
*/

/* Method to declare your own fonts */
@font-face {
	font-family: cocaColaFont;
	src: url(../fonts/lokicola.ttf);
}

/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap
*/
body {
    padding-bottom: 5px;
    background-color: rgb(245, 164, 98);
}

.main_contents {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Some simple CSS rules for styling p, h1 to h6, etc. in the main contents container
*/

p {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif; 
	/* font-family: cocaColaFont; */
}

#main_3d_image {
    background-image: url(../assets/images/main_3D.jpg);
    background-repeat: no-repeat;
    height: 201px;
}

#main_text {
    float: left;
    margin: 5%;
    width: 90%;
    display: block;
    background-color: rgba(255,255,255,0.6);
    padding: 10px;
    border-radius: 5px;
}
#main_text h2 {
    color: rgba(0,102,153,1);
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}
#main_text h3 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#main_text p {
    font-size: 12px;
    margin: 0px;
    line-height: 1.2;
} 

.card {
    border: 0px solid rgba(0,0,0,.125);
    /* border-radius: .25rem;*/
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(245, 164, 98);
}

.logo {
    margin-top: 3px;
}

.logo h1 {
    font-family: cocaColaFont; /* You don't need to repeat this for each media query as it is propagated */
    font-size: 29px;
    margin: 0;
    margin-top: -10px;
    margin-bottom: -15px;
    float: left;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 2px;
    }

.logo h2 {
    font-family: cocaColaFont;
    font-size: 31px;
    margin-top: -6px;
    margin-bottom: -15px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 3px;
    float: left;
    }

.logo h3 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: -5px;
    padding-top: 0px;
    padding-left: 0px;
    float: left;
    }

.logo p {
    font-size: 7px;
    margin-top: 23px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 3px;
}

/* CSS rule to overwrite the navbar-default background and border color — again, helps to stop your site looking like a Bootstrap clone! 
*/

.navbar_coca_cola {
    background-color: #760003; /* Set navbar background color */
    /* border-color: yellow; Sets the navbar border color */
    /* border-style: solid; */
    border-width: 0px;
    min-height: 70px;
}

/* CSS rule to overwrite the navbar-brand font color
*/
.navbar_coca_cola .navbar-brand {
    color: rgb(245, 235, 235);
 }
    
/* CSS rule to overwrite the navbar-brand font hover color
*/
.navbar_coca_cola .navbar-brand:hover {
    color: green;
}

/* NAVIGATION MENU
*/

/* CSS rules to overwrite the position of the Bootstrap menu
Bootstrapbay Bootstrap Tutorial Part 11 — CSS Modifications to Navbar and Buttons shows how to do this using Bootstrap 3, the principle should be the same: https://www.youtube.com/watch?v=7v2yC3GyDHU  

There is plenty more styling to do than indicated here, in mobile it still defaults to Bootstrap CSS on dropdown!
*/

.navbar_coca_cola .navbar-nav > li > a {
    color: white;  
}

/* CSS rule to overwrite the bootstrap.css text hover color on the navbar
*/
.navbar_coca_cola .navbar-nav > li > a:hover, 
.navbar_coca_cola .navbar-nav > li > a:focus {
    color: green;  
}

.navbar_coca_cola .navbar-nav .nav-item {
    margin-top: 0px;
}

/* CSS rule to overwrite the bootstrap.css rules for setting the active font color and background colour
*/
.navbar_coca_cola .navbar-nav .nav-item > .active, 
.navbar_coca_cola .navbar-nav > .active > a:hover, 
.navbar_coca_cola .navbar-nav > .active > a:focus {
    color:  #760003; /* Font color for active font */
    background-color: #3399ff; /* Blue color for background */
}

/* A set of CSS rules to change the Bootstrap defaults for the menu link text color, hover, background, focus
*/
    
/* CSS rule to overwrite the bootstrap.css text hover color on the navbar
*/
.navbar_coca_cola .navbar-nav > li > a:hover, 
.navbar_coca_cola  .navbar-nav > li > a:focus {
    color: green;  
}

/* These next two CSS rules control the style of the icon bar */
.navbar_coca_cola .navbar-toggler {
    border-color: white;
}

.navbar_coca_cola  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar_coca_cola .navbar-toggler {
    outline: none !important;
}

/* Let's style the dropdown menu
*/

.dropdown-menu {
    text-align: -webkit-left;
    background-color: #eb9a91;
    margin-top: 20px; /* Experiment to move the dropdown menu down */
}

.dropdown-menu
.dropdown-item {
    color: #f1ee08;
}

.dropdown-menu
.dropdown-item:hover {
    color: #030303;
    background-color: #e98074;
}

/* CSS rule to style the footer */
.footer {
    color: #FFF;
    background-color: #760003;
    height: 50px;
}

.navbar-text > a {
    color: rgb(255, 255, 255);
    font-size: 8px;
    text-decoration: none;
}

.navbar-text > p {
    color: rgb(64, 228, 15);
    font-size: 15px;
    text-decoration: none;
}

.copyright {
    padding-top: 13px;
}

.social {
    padding-top: 0px;
}

@media (min-width: 576px) {

    body {
        background-color: rgb(202, 181, 181);
    }

    #main_3d_image {
        background-image: url(../assets/images/main_3D_768.jpg);
        background-repeat: no-repeat;
        height: 288px;
    }

    #main_text {
        float: right;
        margin-top: 7%;
    }

    .card {
        border: 0px solid rgba(0,0,0,.125);
        /* border-radius: .25rem;*/
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(202, 181, 181);
    }

    .navbar_coca_cola {
        background-color: grey; 
        min-height: 90px;
    }

    /* CSS rule to style the footer */
    .footer {
        background-color: #257600;
        height: 60px;
    }

    .navbar-text > a {
        font-size: 10px;
    }

    .navbar-text > p {
        color: rgb(228, 75, 15);
        font-size: 18px;
    }

    .copyright {
        padding-top: 20px;
    }

    .social {
        padding-top: 7px;
    }

}


/* Medium devices (tablets, 768px and up)
*/
@media (min-width: 768px) { 
    
    body {
        background-color: rgb(218, 216, 148);
    }

    #main_3d_image {
        background-image: url(../assets/images/main_3D_970.jpg);
        background-repeat: no-repeat;
        height: 363px;
    }

    .card {
        border: 0px solid rgba(0,0,0,.125);
        /* border-radius: .25rem;*/
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(218, 216, 148);
    }

    #main_text {
        float: right;
        margin-top: 7%;
    }

    #main_text h2 {
        color: crimson;
        font-size: 30px;
    }
    
    #main_text h3 {
        color: darkcyan;
        font-size:22px;
    }
    
    #main_text p {
        font-size: 15px;
    }
    
    /* ++++++++++++++++++++++++++LOGO+++++++++++++++++++++++*/
    
    /* CSS rule to style the mobile logo */

    .logo {
        margin-top: 3px;
    }

    .logo h1 {
        font-family: cocaColaFont; /* You don't need to repeat this for each media query as it is propogated */
        font-size: 41px;
        margin: 0;
        margin-top: 0px;
        margin-bottom: -15px;
        float: left;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 2px;
    }

    .logo h2 {
        font-family: cocaColaFont;
        font-size: 43px;
        margin-top: 5px;
        margin-bottom: -15px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 3px;
        float: left;
    }

    .logo h3 {
        font-size: 31px;
        margin-top: 5px;
        margin-bottom: 3px;
        padding-top: 0px;
        padding-left: 0px;
        float: left;
    }

    .logo p {
        font-size: 10px;
        margin-top: 45px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-left: 8px;
    }

    .navbar_coca_cola {
        background-color: grey; 
        min-height: 90px;
    }

    /* CSS rule to style the footer */
    .footer {
        background-color: #b890b1;
        height: 60px;
    }

    .navbar-text > a {
        font-size: 10px;
    }

    .navbar-text > p {
        color: rgb(12, 5, 3);
        font-size: 18px;
    }

    .copyright {
        padding-top: 20px;
    }

    .social {
        padding-top: 7px;
    }
}

/* Large devices (desktops, 992px and up)
*/
@media (min-width: 992px) { 
    
    body {
        background-color: rgb(185, 185, 178);
    }

    #main_3d_image {
        background-image: url(../assets/images/main_3D_1400.jpg);
        background-repeat: no-repeat;
        height: 524px;
    }

    #main_text {
        float: right;
        margin-top: 20%;
    }

    #main_text h2 {
        color: crimson;
        font-size: 30px;
    }
    
    #main_text h3 {
        color: darkcyan;
        font-size:22px;
    }
    
    #main_text p {
        font-size: 15px;
    }

    .card {
        border: 0px solid rgba(0,0,0,.125);
        /* border-radius: .25rem;*/
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(185, 185, 178);
    }

    .logo {
        margin-top: 7px;
    }

    .logo h1 {
        font-family: cocaColaFont;
        font-size: 59px;
        margin: 0;
        margin-top: 0px;
        margin-bottom: -20px;
        float: left;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .logo h2 {
        font-family: cocaColaFont;
        font-size: 65px;
        margin-top: 7px;
        margin-bottom: -25px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 6px;
        float: left;
    }

    .logo h3 {
        font-size: 40px;
        margin-top: 15px;
        margin-bottom: -5px;
        padding-top: 0px;
        padding-left: 0px;
        float: left;
    }

    .logo p {
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 65px;
        padding-left: 12px;
    }

    .navbar_coca_cola {
        background-color: grey; 
        min-height: 120px;
    }

    /* CSS rule to style the footer */
    .footer {
        background-color: grey;
        height: 75px;
    }

    .navbar-text > a {
        font-size: 15px;
    }

    .navbar-text > p {
        color: rgb(12, 5, 3);
        font-size: 23px;
    }

    .copyright {
        padding-top: 20px;
    }

    .social {
        padding-top: 7px;
    }
}

/* Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) { 
    
    
}

